.comic-strip-frame {
    /* positioning */
    position: relative; /* necessary for overflow: hidden */
    overflow: hidden; /* hide the comic-strip-frame-open panel when not hovering */
    margin: 15px 0; /* same as the bootstrap column gutter */

    /* frame outline */
    border: 1px solid #444;
    background-color: #777;
    border-radius: 10px;
    cursor: default;

    /* general text styles */
    font-family: Hind;
    line-height: 130%;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}
    .comic-strip-frame-content {
        /* vertical centering */
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%); /* iOS still needs this */
    }
    .comic-strip-frame-closed {
        height: 100%; /* necessary for .comic-strip-frame-content vertical centering */
        padding: 1em;
    }
    .comic-strip-frame-open {
         /* start this content hidden *just above the top* of its parent */
        position: absolute;
        top: -100%;
        width: 100%;
        height: 100%;
        
        /* when un-hovering, return it to its original position */
        transition: top 1.5s;

        /* background/framing */
        background-color: rgba(220,150,80,.8);
        padding: 1em;
    }
        /* :active is used for iOS --- see the script for activation by touchstart event */
        .comic-strip-frame:hover .comic-strip-frame-closed, .comic-strip-frame:active .comic-strip-frame-closed {
            /* fade out the text when the panel slides down over it so
               that it's less distracting through the panel's semi-transparent
               background */
            opacity: .25;
            transition: opacity .5s;
        }
        .comic-strip-frame:hover .comic-strip-frame-open, .comic-strip-frame:active .comic-strip-frame-open {
            /* animate the content to slide down so that it is directly over the parent */
            top: 0;
            transition: top .5s;
        }
    .comic-strip-frame .frame-caption {
        font-size: 23px;
        padding-bottom: 2px;
        border-bottom: 1px solid white;
    }
    .comic-strip-frame .big {
        /* text styles */
        text-align: center;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0.1em 0.1em 0.2em black;
    }
    .comic-strip-frame .bigbig {
        text-transform: uppercase;
    }

